/* Container*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Setting up the colunms*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

/* Classes for box size*/
.container_12 .grid_1 {
	width: 60px;
}

.container_12 .grid_2 {
	width: 140px;
}

.container_12 .grid_3 {
	width: 220px;
}

.container_12 .grid_4 {
	width: 300px;
}

.container_12 .grid_5 {
	width: 380px;
}

.container_12 .grid_6 {
	width: 460px;
}

.container_12 .grid_7 {
	width: 540px;
}

.container_12 .grid_8 {
	width: 620px;
}

.container_12 .grid_9 {
	width: 700px;
}

.container_12 .grid_10 {
	width: 780px;
}

.container_12 .grid_11 {
	width: 860px;
}

.container_12 .grid_12 {
	width: 940px;
}

/* Clear floated elements*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.row_126 {
	height: 126px;
}

/* CSS not for the grid starts here*/
body {
	background-colour: #cccccc;
}

#logo, #banner, #nav, #article, #footer {
	background-color: #000000;
	margin-top: 20px;
}

p {
	color: #f0efeb;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 15px;
}

h1 {
	color: #E5FCF5;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 27px;
}

h3 {
	color: #E5FCF5;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 20px;
}

li {
	color: #f0efeb;
	font-size: 15px;
}

/* footer icons*/
#icons ul {
	list-style: none;
}

/* a bit of image CSS*/
#centre {
	text-align: center;
}

.image_padding {
	padding-left: 5px;
	padding-right: 5px;
}
/* end of the image CSS*/

/* Link colours*/
a:link {color: #2196f3;}
a:visited {color: #1976d2;}
a:hover {color: #90caf9;}
a:active {color: #90caf9;}

/* CSS for navigation starts here*/
#nav ul {
	display: inline;
	padding: 15px 0px 0px 0px;
	list-style: none;
}

#nav ul li {
	font-weight: bold;
	display: inline-block;
	margin-right: 4px;
	position: relative;
	padding: 15px 20px 17px;
	font-size: 22px;
}

#nav ul li:hover {
	background: #3e3c45;
}

#nav a {
	text-decoration: none;
}
/* end of navigation CSS*/
